.cartContainer {
  margin: 10rem auto;
  width: 90vw;

  > h1 {
    text-align: center;
    font-size: 6rem;
    text-transform: uppercase;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 5rem;
  }
}
.cartItemsTable {
  margin-inline: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  > td {
    padding: 0rem;
  }
  > :nth-child(2) {
    height: 10rem;
    aspect-ratio: 1;
    > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  > td {
    > button {
      background: transparent;

      > svg {
        height: 3rem;
        border: 1px solid black;
        border-radius: 50%;
        padding: 0.2rem;
      }
    }
  }
}

.quantity {
  display: flex;
  align-items: center;
  > span {
    padding: 0 0.5rem;
  }
}

table {
  width: 100%;
  height: 100%;
  background: white;
  color: black;
  border-collapse: collapse;
  font-size: 2.5rem;
  text-align: center;
}

th {
  background: #4080a8;
  color: white;
  text-transform: capitalize;
}
th,
td {
  padding: 1rem;
}

.attributeTitleMobile {
  display: none;
}
.tableMargin {
  border-bottom: 1px solid rgba(0, 0, 0, 0.507);
}
@media only screen and (max-width: 48em) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    > :nth-child(1) {
      margin-right: auto;
    }
    > :nth-child(2) {
      margin-left: auto;
    }
  }
  table {
    > tr {
      border: none;
    }
  }
  th {
    display: none;
  }
  td {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .attribute::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
  .tableMargin {
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
  }
  .attributeTitleDesktop {
    display: none;
  }
  .attributeTitleMobile {
    display: inherit;
  }
}

.emptyCart {
  margin: 5rem;
  > div {
    display: flex;
    margin-bottom: 4rem;
    > svg {
      height: 5rem;
    }
    > p {
      font-size: 5rem;
      margin-left: 2rem;
    }
  }
  > a > button {
    text-transform: uppercase;
    font-size: 2.5rem;
    background-color: #4080a8;
    color: white;
    padding: 2rem;
  }
}

.quantityBtn {
  background-color: #4080a8;
  color: white;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
}

.attribute {
  > td {
    padding: 0;
  }
}

.checkOut {
  width: fit-content;
  margin-left: auto;
  margin-top: 8rem;
  @media only screen and (max-width: 48em) {
    margin: 0 auto;
  }
  > :first-of-type {
    border-radius: 0.5rem;
  }

  > a > button,
  > button {
    width: 100%;
    margin: 2rem 0;
    background: #4080a8;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
  }
  .checkOutBox {
    border: 1px solid black;
    padding: 2rem 4rem;
    > div {
      display: flex;
      justify-content: space-between;
      > span {
        text-transform: capitalize;
        font-size: 2rem;
      }
    }
    > :not(:last-child) {
      padding-bottom: 1.5rem;
    }
    > :nth-child(2) {
      color: rgba(0, 0, 0, 0.819);
      border-bottom: 1px solid black;
    }
    > :last-child {
      > span {
        font-size: 2.5rem;
        padding: 2rem 0.5rem 0rem;
      }
    }
    > :nth-child(odd) {
      > span {
        font-weight: 600;
      }
    }
  }
}
