.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f7f9;
  align-items: center;
  padding: 5rem;
  > h1 {
    font-size: 8rem;
    text-transform: capitalize;
    padding: 5rem;
  }
}

table {
  width: 100%;
}
th {
  background-color: #fbfbfb;
  padding: 2rem;
  border-bottom: 1px solid black;
}
tbody {
  > tr {
    border-bottom: 1px solid black;
    > td {
      > input {
        text-align: center;
        width: 8rem;
        padding: 1rem;
      }
    }
  }
}
table {
  text-align: center;
  font-size: 2rem;
  border-collapse: collapse;
  text-transform: capitalize;
}
.tableProduct {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  > td:nth-child(3) {
    /* background-color: yellowgreen; */
    width: 30%;
    text-align: left;
    font-size: 1.8rem;
  }
  > td > img {
    height: 8rem;
    width: 10rem;
  }
  > td > button {
    display: flex;
    border-radius: 50%;
    border: 1px solid black;

    > svg {
      padding: 0.1rem;
      height: 2rem;
    }
  }
}
tfoot {
  position: relative;
}
.tfoot {
  padding: 2rem;
  display: flex;
  /* padding: 2rem; */
  /* width: 100%; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* flex-direction: row; */
}
.tfoot1 {
  > input {
    margin-right: 1rem;
    padding: 0.5rem;
  }
  > button {
    background-color: #0075be;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
  }
}
.tfoot2 {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  > button {
    background-color: #0075be;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1rem;
  }
}

.cartItems {
  border: 1px solid black;
}

.emptyCart {
  border-top: 0.5rem solid black;
  width: 100%;
  > div {
    display: flex;
    align-items: center;
    padding: 2rem;
    > p {
      font-size: 2rem;
      margin-left: 2rem;
    }
    > svg {
      height: 2rem;
    }
  }
}
.returnToShop {
  /* font-size: 2rem; */
  text-transform: uppercase;
  background-color: #0075be;
  color: white;
  padding: 1.5rem 2.5rem;
  margin: 1rem 0;
  font-weight: bolder;
}

.cartTotals {
  text-align: left;
  background-color: yellow;
  margin: 5rem 0;
  margin-left: auto;
  border: 1px solid black;
  /* width: 50%; */
  > tr > td {
    padding: 3rem;
  }
  > tr {
    padding: 5rem;
  }
}

.cartTotals_btn {
  /* padding: 5rem; */
  > button {
    font-size: 4rem;
    text-transform: uppercase;
    background-color: #0075be;
    width: 100%;
    padding: 2rem;
  }
}
.cartTotals_p {
  padding: 2rem;
  /* width: 80%; */
  /* text-align: center; */
  border-bottom: 1px solid black;
  > span {
    margin-left: 10rem;
  }
}
