.featureProductSection {
  display: flex;
  flex-direction: column;
  > h1 {
    margin: 10rem auto;
    font-size: 5rem;
    position: relative;
    @media only screen and (max-width: 20em) {
      font-size: 4rem;
    }
  }
  > h1::after {
    content: "";
    position: absolute;
    height: 5%;
    width: 20%;
    top: 100%;
    left: 50%;
    margin-top: 3rem;
    transform: translate(-50%, -50%);
    background-color: blue;
  }
}

.featureProductGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 26rem));
  gap: 3rem;
  justify-content: center;
  padding: 5rem 2rem;

  @media only screen and (max-width: 48em) {
    grid-template-columns: repeat(3, minmax(10rem, 35rem));
    gap: 2rem;
    /* padding: 5rem 0rem; */
  }
  @media only screen and (max-width: 31.25em) {
    grid-template-columns: repeat(2, minmax(10rem, 35rem));
  }
  @media only screen and (max-width: 20em) {
    grid-template-columns: minmax(10rem, 38rem);
  }
}
.wholeFPcard {
  border: 1px solid black;
  height: 100%;
}

.FPcard {
  position: relative;
  > a > img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    max-width: 100%;
    aspect-ratio: 1.1/1;
    object-fit: cover;
  }
}

.addToCart {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  > svg {
    height: 2rem;
  }
}

.FPcard_info {
  line-height: 3rem;
  padding: 2rem 1rem;
  text-transform: capitalize;
  color: black;
  > h3 {
    font-size: 2.8rem;
  }
  > p {
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.216);
    font-size: 2rem;
  }
  > span {
    font-size: 2rem;
  }
}

.addToCart:hover {
  background-color: white;
}
.addToCart:hover::before {
  content: "Add To Cart";
  position: absolute;
  top: 5%;
  right: 100%;
  height: max-content;
  width: max-content;
  color: white;
  background-color: black;
  padding: 1rem;
  margin: 0 1rem;
  z-index: 1;
  border-radius: 0.4rem;
}
.addToCart:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 55%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
  /* padding: 1rem; */
  /* margin: 0 1rem; */
  clip-path: polygon(0% 20%, 60% 20%, 100% 50%, 60% 80%, 0% 80%);
}
.hidden {
  display: none;
}

.scrollTrigger {
  animation: fromLeft 5s ease-out;
}
@keyframes fromLeft {
  from {
    transform: translateX(-120%);
    opacity: 0;
  }
  /* 40% {
    opacity: 0.5;
  } */
  50% {
    transform: translateX(5rem);
  }
  /* 80% {
    opacity: 0.8;
  } */
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
