.section1 {
  padding: 0 5rem;
  margin: 10rem 0;
  @media only screen and (max-width: 48em) {
    padding: 0 3rem;
  }
}

.gridCard {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
  @media only screen and (max-width: 48em) {
    grid-template-columns: repeat(1, auto);
  }
}
.cards {
  aspect-ratio: 1/1;
  object-fit: cover;
  position: relative;
  background-size: cover;
  @media only screen and (max-width: 48em) {
    aspect-ratio: 1.6/1;
  }
}

.cards_info {
  position: absolute;
  padding: 2rem;
  bottom: 0%;
  left: 5%;
  color: white;
  @media only screen and (max-width: 48em) {
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 0%;
    left: 0%;
  }
  > h1 {
    font-size: 2.5rem;
  }
  > p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  > button {
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  > * {
    margin: 1rem 0;
  }
}

.layOut {
  position: absolute;
  background-image: linear-gradient(to top, #292b2d 100%, #00000000 100%);
  opacity: 0.5;
  height: 100%;
  width: 100%;
}
