.mainH1 {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  margin: 5rem 0;
}

.navigation {
  font-size: 2.5rem;
  padding: 0 2rem;
  /* background: yellow; */
  /* margin-left: 5rem; */
  > a,
  span {
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.488);
  }
}
.productDetailFlex {
  display: flex;
  margin: 5rem 0;
  justify-content: center;
  @media only screen and (max-width: 48em) {
    display: flex;
    flex-direction: column-reverse;
  }
}
.productDetailGrid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (max-width: 48em) {
    display: flex;
    flex-direction: column;
  }
}
.productDetailImg {
  > img {
    height: 100%;
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
  }
}

.productDetailInfo {
  margin: 0 5rem;
  /* padding: 2rem 0; */

  @media only screen and (max-width: 48em) {
    margin: 2rem;
  }

  > :not(:first-child) {
    margin: 1.5rem 0;
  }

  > h1 {
    font-size: 4rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  > p {
    font-size: 2rem;
  }
  > p:first-of-type {
    font-size: 3rem;
    font-weight: 600;
  }
  > p:last-of-type {
    text-transform: capitalize;
  }
}

.images {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  /* flex-shrink: initial; */
  padding: 1rem;
  @media only screen and (max-width: 48em) {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    padding: 0rem;

    /* padding: 4rem 0; */
  }
  > div {
    /* margin: 1rem; */
    /* height: 10rem; */
    border: 1px solid violet;
    width: 10rem;
    /* height: 10%; */
    /* aspect-ratio: 4/0.5; */
    > img {
      height: 100%;
      width: 100%;
    }
  }
}

.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* position: relative; */

  > h1 {
    font-size: 5rem;
    margin-right: 1rem;
  }
  .buffer {
    position: relative;
    top: 0%;
    left: 3%;
    animation: spin 3s ease infinite;

    > div:nth-of-type(1) {
      /* border-bottom: 0.2rem solid blue; */
      height: 2rem;
      width: 2rem;
      border: 50%;
      background-color: blue;
      position: absolute;
      top: 0%;
      left: 0%;
      border-radius: 50%;
      margin: 0.4rem;
    }
    > div:nth-of-type(2) {
      height: 2rem;
      width: 2rem;
      border: 50%;
      background-color: yellow;
      position: absolute;
      top: 0%;
      right: 0%;
      border-radius: 50%;
      margin: 0.4rem;
    }
    > div:nth-of-type(3) {
      height: 2rem;
      width: 2rem;
      border: 50%;
      background-color: orangered;
      position: absolute;
      bottom: 0%;
      left: 0%;
      border-radius: 50%;
      margin: 0.4rem;
    }
    > div:nth-of-type(5) {
      height: 2rem;
      width: 2rem;
      border: 50%;
      background-color: brown;
      position: absolute;
      bottom: 0%;
      right: 0%;
      border-radius: 50%;
      margin: 0.4rem;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .productDetailInfo {
  > p:nth-of-type(2) {
    font-size: 1.5rem;

    color: red;
  }
}
.productDetailInfo > :nth-child(5) {
  color: blue !important;
} */

.productDetailInfoBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  > div {
    margin-top: 5rem;
  }
}

.quantityBtn {
  display: flex;
  background: white;
  > button,
  span {
    border: 1px solid black;
    background: transparent;
    /* height: 2rem; */
    font-size: 2rem;
    padding: 1rem;
  }
}

.addToCartBtn {
  margin-left: 5rem;
  > button {
    text-transform: uppercase;
    font-size: 1.8rem;
    background: black;
    padding: 1.2rem 2rem;
    color: white;
  }
}
